@inherits LayoutComponentBase
<div>

    <main>
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Go Home Page
        </NavLink>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>